@import url("./reset.css");

html,
body,
#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #9e9e9e;
}

.title {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  background-color: #bdbdbd;
}

.nav-item {
  padding: 1rem 0;
}

.nav-item + .nav-item {
  border-top: 1px solid #000000;
}

.contents {
  flex: 1 1 auto;
  word-break: break-all;
  white-space: pre-wrap;
}

.section {
  padding: 1rem 0 0 1rem;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  padding: 1rem;
}

.aside-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/cherry.jpg");
  color: #ffffff;
  font-weight: bold;
}

.image {
  width: 100%;
  max-height: auto;
}

.footer {
  height: 150px;
  background-color: #fafafa;
}
